.dialog {
    resize: vertical;
    overflow: auto;
    min-height: 300px;
    min-width: 1100px;
    width: fit-content;
    color: black;
    background-color: #ffffff;
    text-align: left;
}

.error {
    color:#ff0000;
}

.datatable {
    border-spacing: 10px;
    border-collapse: separate;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.datarow {
    width: 1%;
    white-space: nowrap;
}
