<div class="dialog">
<div class="modal-header">
  <h5 class="modal-title">Filter</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross Click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <div class="modal-body">
    <form #newFilterForm="ngForm">
    <table>
        <tbody>
        <!--Filling table with data fetched from the backend service-->
        <tr>
          <th>Filterbezeichnung</th>
          <td *ngFor="let filter of filters"><input type="text" name="name" [(ngModel)]="filter.name" class="form-control" required></td>
        </tr>
        <tr>
          <th>Filterbedingungen</th>
          <td>Menge</td>
          <td *ngFor="let filter of filters"><input type="text" name="amount" [(ngModel)]="filter.amount" class="form-control" placeholder="Nummer" required pattern="^[0-9]*$"></td>
          <td *ngFor="let filter of filters"><select name="compare" [(ngModel)]="filter.compare" class="form-control" required>
            <option value="weniger als">weniger als</option>
            <option value="mehr als">mehr als</option>
          </select></td>
          <td *ngFor="let filter of filters"><input type="text" name="numericField" [(ngModel)]="filter.numericField" class="form-control" placeholder="Nummer" required pattern="^[0-9]*$"></td>
          <td><button [disabled]="filterService.incrementation === 1" type="button" class="btn btn-danger" (click)="filterService.increment(0)">-</button></td>
          <td><button [disabled]="filterService.incrementation === 3" type="button" class="btn btn-success" (click)="filterService.increment(1)">+</button></td>
        </tr>
        <tr *ngIf="filterService.incrementation > 1">
          <th></th>
            <td>Titel</td>
          <td *ngFor="let filter of filters"><select name="text" [(ngModel)]="filter.text" class="form-control" required>
            <option value="titel">titel</option>
            <option value="beschreibung">beschreibung</option>
          </select></td>
          <td *ngFor="let filter of filters"><select name="textOptions" [(ngModel)]="filter.textOptions" class="form-control" required>
            <option value="endet mit">endet mit</option>
            <option value="beginnt mit">beginnt mit</option>
            <option value="enthält">enthält</option>
          </select></td>
          <td *ngFor="let filter of filters"><input type="text" name="textField" [(ngModel)]="filter.textField" class="form-control" placeholder="Text" required></td>
        </tr>
        <tr *ngIf="filterService.incrementation > 2">
          <th></th>
          <td>Datum</td>
          <td *ngFor="let filter of filters"><select name="dateType" [(ngModel)]="filter.dateType" class="form-control" required>
            <option value="Veröffentlichungsdatum">Veröffentlichungsdatum</option>
            <option value="Einsendeschluss">Einsendeschluss</option>
          </select></td>
          <td *ngFor="let filter of filters"><select name="dateOptions" [(ngModel)]="filter.dateOptions" class="form-control" required>
            <option value="liegt vor dem">liegt vor dem</option>
            <option value="nach">nach</option>
          </select></td>
          <td *ngFor="let filter of filters"><input type="date" name="date" [(ngModel)]="filter.date" class="form-control" required></td>
        </tr>
        <tr *ngFor="let filter of filters">
          <th>Eintrag soll</th>
          <th></th>
          <th><input type="radio" [(ngModel)]="filter.conditions" name="conditions" value="alle Bedingungen" checked="checked" required> alle Bedingungen</th>
          <th><input type="radio" [(ngModel)]="filter.conditions" name="conditions" value="mindestens eine Bedingung" required> mindestens eine Bedingung</th>
          <th><input type="radio" [(ngModel)]="filter.conditions" name="conditions" value="keine der Bedingungen erfüllen" required> keine der Bedingungen erfüllen</th>
        </tr>
        <tr>
          <th></th>
          <td><button type="button" class="btn btn-primary" [disabled]="newFilterForm.invalid" (click)="addFilter(newFilterForm); activeModal.dismiss('Cross Click')">Filter anwenden</button></td>
          <td><button type="button" class="btn btn-secondary"(click)="activeModal.dismiss('Cross Click')">Abbrechen</button></td>
        </tr>
        </tbody>
    </table>
  </form>
  </div>
</div>